:root{
    --corAzul: #4848e7
}

*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body{
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
}

.Header{
    display: flex;
    height: 10%;
    width: 100%;
    background-color: var(--corAzul);
}

.Container{
    display: flex;
    height: 100%;
    width: 100%;
}

.Lateral{
    display: flex;
    height: 100%;
    width: 5%;
    background-color: var(--corAzul);
}

.Principal{
    display: flex;
    height: 90%;
    width: 95%;
    gap: 30px;
    padding: 30px;
}

.Bloco_Principal{
    display: flex;
    min-width: 250px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 238, 238);
}

.Section_Principal{
    display: flex;
    flex-direction: column;
    height: min-content;
    min-width: 250px;
    background-color: var(--corAzul);
    border-radius: 5px;

    & .header_Card{
        display: flex;
        height: 20px;
        align-items: center;
        padding: 7px 7px 5px 10px;
        font-size: 1em;
        color: white;

        & i{
            margin: 0px 0px 0px auto;
            font-size: 1.2em;
        }

        & i:hover{
            cursor: pointer;
            scale: 1.05;
        }
    }

    & .div_subCard_conteudo{
        height: min-content;
        background-color: rgb(255, 255, 255);
        margin: 5px 5px;
        border-radius: 5px;

        & header{
            display: flex;
            height: 20px;
            align-items: center;
            padding: 7px 7px 5px 10px;
            font-size: 1em;

            & i{
                margin: 0px 0px 0px auto;
                font-size: 1.2em;
            }
    
            & i:hover{
                cursor: pointer;
                scale: 1.05;
            }
        }

        & .div_checklist_conteudo{
            display: none;
            flex-direction: column;
            justify-content: center;
            padding-left: 30px;
            margin: 15px 0px 10px 0px;
            gap: 5px;

            & section{
                display: flex;
                align-items: center;
                font-size: 0.7em;

                & input{
                    margin-right: 4px;
                    accent-color: black ;
                }
            }
        }

        & footer{
            display: flex;

            & p{
                margin: 0px auto 0px 10px;
            }

            & .icone_mais_funcoes_subCard{
                margin: 0px 10px 0px auto;
                font-size: 0.9em;
            }

            & .icone_mais_funcoes_subCard:hover{
                cursor: pointer;
                scale: 1.05;
            }
        }
    }

    & footer{
        display: flex;
        padding: 10px 0px 5px 0px;
        align-items: center;
        justify-content: center;

        & button{
            display: flex;
            padding: 0px;
            margin: auto auto auto 10px;
            align-items: center;
            font-size: 0.85em;
            background-color: #0000;
            color: white;

            & i{
                font-size: 1.4em;
            }
        }

        & button:hover{
            cursor: pointer;
            scale: 1.05;
        }

        & .icone_mais_funcoes{
            margin: auto 10px auto auto;
            color: white;
            font-size: 1em;
        }

        & .icone_mais_funcoes:hover{
            cursor: pointer;
            scale: 1.05;
        }

        & .div_mais_funcoes{
            display: block;
            position: absolute;
            align-items: center;
            justify-content: center;
            height: auto;
            width: 100px;
            border: 2px solid black;
            margin: 60px 0px 0px 300px;
            background-color: aquamarine;
            padding: 0px;

            & div{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
            }
        }
    }
}


